{% load static %}
{% load carts_tags %}

<!-- Запускаем пользовательский тег "user_carts", который получает данные корзины и сохраняет их в переменной "carts" (из файла carts_tags). -->
{% user_carts request as carts %}

<div>
    <!-- Кнопка для открытия модального окна корзины -->
    <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton"
            aria-expanded="false">
        <!-- Значок корзины -->
        <img class="mx-1" src="{% static 'deps/icon/basket.svg' %}" alt="Catalog Icon" width="24"
             height="24">
        <!-- Отображение общего количества товаров в корзине -->
        <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
    </button>
</div>

<!-- Разметка модального окна корзины -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Кнопка закрытия модального окна -->
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Заголовок модального окна -->
                <h3 class="text-center mb-4">Корзина</h3>
                <div class="container" id="cart-items-container">
                    <!-- Включение шаблона с разметкой корзины -->
                    {% include 'carts/includes/included_cart.html' %}
                </div>
            </div>
        </div>
    </div>
</div>