{% extends 'base.html' %}
{% include 'main/contact_info.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="p-4 bg-white border border-dark rounded custom-shadow">
            <h1 class="text-center mb-4">{{ content }}</h1>

            <div class="mt-4 text-center">
                <p class="lead text-muted">{{ text_on_page }}</p>
                <p class="small text-muted">{{ text_on_page2 }}</p>
            </div>

            <!-- Контактная информация -->
            <div class="mt-5">
                <h4 class="text-center mb-4">Контактная информация</h4>
                <div class="d-flex justify-content-center">
                    <div class="contact-info">
                        <ul class="list-unstyled">
                            <li><strong>Телефон:</strong> <a href="tel:{{ phone }}" class="text-decoration-none">{{ phone }}</a></li>
                            <li><strong>Email:</strong> <a href="mailto:{{ email }}" class="text-decoration-none">{{ email }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <p class="small text-muted">{{ text_on_page3 }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
