<!-- Наследование от базового шаблона, чтобы использовать общую структуру и стиль страниц -->
{% extends "base.html" %}

<!-- Загрузка тега для работы с файлами статики -->
{% load static %}

{% block title %}
    <!-- Динамическое указание заголовка страницы через переменную из контекста -->
    {{ title }}
{% endblock %}

{% block css %}
    <!-- Подключение дополнительного CSS-файла для кастомных стилей -->
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block modal_cart %}
    <!-- Включение HTML-файла кнопки корзины, что упрощает повторное использование -->
    {% include 'includes/cart_button.html' %}
{% endblock %}


{% block content %}
    <!-- Контейнер с использованием Bootstrap для создания отступов -->
    <div class="container my-4">
        <!-- Основной блок с белым фоном, рамкой, закруглением углов и тенью -->
        <div class="p-4 bg-white border border-dark rounded custom-shadow">
            <h1 class="text-center mb-4">{{ content }}</h1>
            <p class="fs-5">
                Добро пожаловать в <strong>{{ name }}</strong>! Мы — современный магазин бытовой техники,
                который предлагает широкий ассортимент качественной техники для вашего дома.
            </p>

            <h3 class="mt-4">{{ text_on_page }}</h3>
            <ul class="fs-5">
                <!-- Динамический список, наполнение передается через контекстные переменные -->
                <li>{{ text1 }}</li>
                <li>{{ text2 }}</li>
                <li>{{ text3 }}</li>
                <li>{{ text4 }}</li>
                <li>{{ text5 }}</li>
            </ul>

            <h3 class="mt-4">{{ mission }}</h3>
            <p class="fs-5">
                {{ text_mission }}
            </p>
        </div>
    </div>
{% endblock %}

<!--{% block footer %}-->
<!--<footer class="py-4 bg-dark">-->
<!--    <div class="container">-->
<!--        <p class="m-0 text-center text-white">&copy; TechnoLite 2024</p>-->
<!--    </div>-->
<!--</footer>-->
<!--{% endblock %}-->